<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Node Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
    <script src="main.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <a href="/" class="navbar-brand">My Site</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

<!-- MAIN CONTENT HERE -->
<%- defineContent('hero') %>

<main>
    <div class="container">
       <%- body %>
    </div>
</main>

<footer>
    Thank you Miss Holly Lloyd
    <br> Copyright &copy; 2018
</footer>
</body>
</html>