body {
    font-size: 14px;
    line-height: 1.5;
}

header .navbar {
    border-radius: 0;
    margin: 0;
}

.hero {
    background-image: url(../img/alone_in_the_universe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    min-height: 600px;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
}

.hero-content h2 {
    color: antiquewhite;
    font-size: 80px;
}

.hero-content p {
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 30px;
}

.hero-content .btn {
    border-radius: 2px;
    padding: 20px 30px;
}

main {
    min-height: 500px;
    padding: 50px 0;
}

footer {
    padding: 30px 0;
    font-size: 12px;
    color: darkkhaki;
    background: #222;
    text-align: center;
}