<%- contentFor('hero') %>

    <section class="hero">
        <div class="hero-content">
            <p>
                This is all about us!!
            </p>>
            <a href="/contact" class="btn btn-lg btn-primary">Drop a line</a>
        </div>
    </section>
    <%- contentFor('body') %>
        <div class="jumbotron text-center">
            contact me here : sayankiitcs@gmail.com
            <br>
        </div>