<%- contentFor('hero') %>
    <section class="hero">
        <div class="hero-content">
            <h2> Welcome to this page </h2>
            <p>
                Thanks to "Scotch"!
            </p>
            <a href="/" class="btn btn-lg btn-primary">Get Started</a>
            <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
        </div>
    </section>
    <%- contentFor('body') %>
            <div class="jumbotron text-center">
                Home Page
            </div>
 